@charset "UTF-8";

.top {
    display: flex;
    @include mar-pad(pt 24, pb 20);

    h1.logo {
        display: flex;
        align-items: flex-end;
        max-width: 100%;
        max-height: rem(36px);
        @include mar-pad(mr 33);
    }

    p.cate-nav {
        align-self: flex-end;
        font-size: rem(12px);
        color: var(--text-color3);

        i {
            @include mar-pad(ml 8, mr 8);
        }

        strong {
            color: var(--text-color2);
        }
    }

    p.user {
        @include mar-pad(ml auto);
        cursor: pointer;

        i {
            font-size: rem(36px);
            color: var(--main-color);
        }
    }
}